<!--footer -->
<footer id="copyrights" class="footer">
    <div>
        <p>&copy; Copyrights <strong>Okna Premium company</strong>. All Rights Reserved</p>
    </div>
    <div  >
        Created with Malgin Studio, template by  <a class='footer__link' href="https://essexwebdesignstudio.com/"> ESSEX Studio</a>
    </div>
</footer>
<!--/ #footer -->