<!-- header -->
    <div class="header">
        <div class="header__img-container">
            <img class='header__img' src='img/logo.jpg' alt='logo'/>
        </div>
        <div class="header__container">
            <div class='header__logo'>Okna Premium Class</div>
            <div>since 2008</div>
        </div>
        <div class='header__contacts'>
            <ul class='header__contacts-list'>
                <li class='header__contacts-list-item'>+7(495)661-94-49</li>
                <li class='header__contacts-list-item'>+7(915)100-09-08</li>
                <li class='header__contacts-list-item__mail'>
                    <a class='header__contacts-list-item-link' href = "mailto: okna-pc@mail.ru">okna-pc@mail.ru</a>
                </li>
            </ul>
    </div>
