<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="rights" content="Окна Премиум Класс (Okna Premium Class)">
        <meta name="apple-mobile-web-app-title" content="Okna Premium Class">
        <meta name="application-name" content="Okna Premium Class">
        <meta name="yandex-verification" content="1ea0a514815d454b" />
        <meta name="description" content="Алюминевыее конструкции, фасаадное остекление из алюминия, монтаж алюминевых кострукций любой сложности Шуко (Schüco), Алютех(Alutech), Reynaers(Рейнарс), TatProf(ТатПроф)  в Москве и Московской области, Подмосковье, Домодедово, Подольск, Люберцы, Балашиха, Калга.
         Алюминиевые окна, Алюминевые входные двери, раздвижные системы из Алюминия - компания Окна Премиум Класс Okna Premium Class изготавливает на собственном сертифицированном производстве.">
        <title>
            "Алюминевые конструкции, фасадный алюминий, монтаж алюминевых конструкций, благоустройство территорий в Москве и Московской области, Подмосковье, Домодедово, Подольск, Люберцы, Балашиха, Калга."
        </title>
        <link rel="stylesheet" href="styles/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        {{> header }}
        {{> nav }}
          {{{ body }}}
        {{>footer}}
        <script async src="scripts/main.aecae.js"></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(68271163, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/68271163" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>

