<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="rights" content="Окна Премиум Класс (Okna Premium Class)">
        <meta name="apple-mobile-web-app-title" content="Okna Premium Class">
        <meta name="application-name" content="Okna Premium Class">
        <meta name="description" content="Алюминевыее конструкции, фасаадное остекление из алюминия, монтаж алюминевых кострукций любой сложности Шуко (Schüco), Алютех(Alutech), Reynaers(Рейнарс), TatProf(ТатПроф)  в Москве и Московской области, Подмосковье, Домодедово, Подольск, Люберцы, Балашиха, Калга.
         Алюминиевые окна, Алюминевые входные двери, раздвижные системы из Алюминия - компания Окна Премиум Класс Okna Premium Class изготавливает на собственном сертифицированном производстве.">
        <title>
            "Алюминевые конструкции, фасадный алюминий, монтаж алюминевых конструкций, благоустройство территорий в Москве и Московской области, Подмосковье, Домодедово, Подольск, Люберцы, Балашиха, Калга."
        </title>
        <link rel="stylesheet" href="styles/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        {{> header }}
        {{> nav }}
          {{{ body }}}
        {{>footer}}
        <script async src="scripts/main.js"></script>
<!--        <script async src="dist/navbar.js"></script>-->
<!--        <script async src="dist/mainBottomSlider.js"></script>-->
<!--        <script async src="scripts/products.js"></script>-->
<!--        <script async src="dist/gallerySlider.js"></script>-->
<!--        <script async src="dist/contacts.js"></script>-->
    </body>
</html>

