<div class="forms">
    <div style="width: 430%; display: flex; justify-content: center">
        <h1 style="text-align: center">Сайт находится в разработке</h1>
    </div>

</div>

<!-- /.container -->