
<div class="gallery">
    <div class="cards">
        <div class="card">
            <div class="card__slider" id="champion__slider">
                <img src="img/left.svg" class="card__left-arrow" id="champion__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="champion__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="champion__close" alt="close">
                <img src="img/champion2.jpg" class="card__slider-img" id="champion__slider-img" alt="champion">
            </div>
            <h2 class="card__text-block__header">ЖК"Чемпион парк"</h2>
            <img src="img/champion1.jpg" class="card__img" id="card__champion" alt="champion">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Остекление выполнено в стистеме Reynaers Masterline 8
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__slider">
                <h1>slider</h1>
            </div>
            <h2 class="card__text-block__header">ЖК"Форте пиано"</h2>
            <img src="img/forte_piano1.jpg" class="card__img" alt="forte_piano1">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Остекление выполнено в системе Alutech 72
                </p>
            </div>
        </div>
        <div class="card">
            <h2 class="card__text-block__header">ЖК"Форте пиано"</h2>
            <img src="img/forte_piano1.jpg" class="card__img" alt="forte_piano1">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Остекление выполнено в системе Alutech 72
                </p>
            </div>
        </div>
    </div>
</div>
