
<div class="gallery">
    <div class="cards">
        <div class="card">
            <div class="card__slider" id="champion__slider">
                <img src="img/left.svg" class="card__left-arrow" id="champion__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="champion__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="champion__close" alt="close">
                <img src="img/champion2.jpg" class="card__slider-img" id="champion__slider-img" alt="champion">
            </div>
            <h2 class="card__text-block__header">ЖК"Чемпион парк"</h2>
            <img src="img/champion1.jpg" class="card__img" id="card__champion" alt="champion">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Жилой комплекс «Чемпион-парк» от компании Интеко находится на проспекте Мичуринском в ЗАО.
                    Он состоит из 3 комфортабельных корпусов высотой 15- 23 этажа с отделкой по технологии вентилируемых фасадов, подсвечиваемых в ночное время суток.
                    <br><br>
                    Остекление выполнено в стистеме Reynaers Masterline 8
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__slider" id="forte__slider">
                <img src="img/left.svg" class="card__left-arrow" id="forte__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="forte__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="forte__close" alt="close">
                <img src="img/forte_piano2.jpg" class="card__slider-img" id="forte__slider-img" alt="forte">
            </div>
            <h2 class="card__text-block__header">ЖК"Форте пиано"</h2>
            <img src="img/forte_piano1.jpg" class="card__img" id="card__forte" alt="forte_piano1">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Главная особенности проекта в том, что состоит он из двух домов.
                    Один носит название «Forte», другой - «Piano».
                    <br><br>
                    Остекление выполнено в системе Alutech 72
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card__slider" id="zil__slider">
                <img src="img/left.svg" class="card__left-arrow" id="zil__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="zil__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="zil__close" alt="close">
                <img src="img/zilart1.jpg" class="card__slider-img" id="zil__slider-img" alt="Zilart">
            </div>
            <h2 class="card__text-block__header">ЖК"ЗИЛАРТ"</h2>
            <img src="img/zilart1.jpg" class="card__img" id="card__zil" alt="Zilart">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    ЖК «ЗИЛАРТ» – уникальный проект бизнес-класса, строящийся в Даниловском районе Москвы. Это первый жилой комплекс,
                    предлагающий жителям широчайший набор нестандартных опций, от просторного парка до собственного музея.
                    <br><br>
                    Остекление выполнено в системе Schuco AWS 65
                </p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card__slider" id="dominion__slider">
                <img src="img/left.svg" class="card__left-arrow" id="dominion__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="dominion__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="dominion__close" alt="close">
                <img src="img/dominion2.jpg" class="card__slider-img" id="dominion__slider-img" alt="dominion">
            </div>
            <h2 class="card__text-block__header">ЖК"Доминион"</h2>
            <img src="img/dominion1.jpg" class="card__img" id="card__dominion" alt="dominion">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Жилой квартал "DOMINION" предоставляет 1504 квартир в 4-х монолитных корпусах на Западе Москвы.
                    Новый жилой квартал возводился на участке в 15 Га, на пересечении Вернадского и Ломоносовского проспектов.
                    <br><br>
                    Остекление выполнено в стистеме Schuco AWS 65
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__slider" id="zha__slider">
                <img src="img/left.svg" class="card__left-arrow" id="zha__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="zha__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="zha__close" alt="close">
                <img src="img/zhavoronki2.jpg" class="card__slider-img" id="zha__slider-img" alt="zhavoronki">
            </div>
            <h2 class="card__text-block__header">КП"Жаворонки"</h2>
            <img src="img/zhavoronki1.jpg" class="card__img" id="card__zha" alt="zhavoronki">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Эксклюзивный поселок  класса Luхе «Жаворонки-1» - это посёлок для людей, которые высоко ценят статус,
                    но при этом разумно распоряжаются средствами, поскольку самостоятельно добились успеха.
                    <br><br>
                    Остекление выполнено в системе Alutech 72
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card__slider" id="olimp__slider">
                <img src="img/left.svg" class="card__left-arrow" id="olimp__left" alt="left-arrow">
                <img src="img/right.svg" class="card__right-arrow" id="olimp__right" alt="right-arrow">
                <img src="img/close.svg" class="card__close" id="olimp__close" alt="close">
                <img src="img/olimp1.jpg" class="card__slider-img" id="olimp__slider-img" alt="Olimp">
            </div>
            <h2 class="card__text-block__header">ЖК"Донской Олимп"</h2>
            <img src="img/olimp1.jpg" class="card__img" id="card__olimp" alt="Olimp">
            <div class="card__text-block">
                <p class="card__text-block__text">
                    Жилой комплекс «Донской Олимп» расположен в Даниловском районе Москвы, на улице Серпуховской вал. Это новостройка бизнес-класса от застройщика «ЛСР»,
                    компании с отличной репутацией, известной своими качественными и оригинальными проектами. Строительство объекта полностью завершено.
                    <br><br>
                    Остекление выполнено в системе Schuco AWS 70
                </p>
            </div>
        </div>
    </div>
</div>
