<div class="product-section1">
    <h1 class="product-section1__head">Алюминевые фасады</h1>
    <p class="product-section__text">
        Стоечно-ригельная фасадная  система представляет собой ограждающую фасадную конструкцию,
        состоящую из металлического вертикально-горизонтального каркаса и светопрозрачного
        заполнения. Каркас системы формируется при помощи вертикальных профилей – стоек,
        к которым крепятся горизонтальные балки – ригели. Фиксация стеклопакетов к несущему
        каркасу осуществляется при помощи прижимных планок, на которые затем устанавливаются декоративные крышки.
        <br><br>
        Планарное (вантовое) остекление фасадов является разновидностью популярной спайдерной системы, которая придает
        стеклянному фасаду панорамный эффект, визуальную целостность, легкость, элегантность. Это один из самых практичных и престижных на сегодня типов остекления,
        которое может возводиться на зданиях любой геометрии, формы, размеров.
        <br><br>
        Спайдерное остекление фасада относится к безрамным конструкциям. Стекла крепятся точечно рутелями, которые крепятся на спайдеры (крестообразная фурнитура,
        элементы которой похожи на лапы паука). Спайдеры, в свою очередь, крепятся к несущей конструкции или напрямую к фасадам зданий. Закрепляются спайдеры на несущей конструкции анкерами и болтами,
        в редких случаях используется сварка.
    </p>

    <div class="slider">
        <div class="item fasad">
            <img src="img/fasad1.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad2.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad3.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad4.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad5.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad6.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad7.jpg" alt="fasad">
        </div>

        <a class="prev" onclick="minusSlideFasad()">&#10094;</a>
        <a class="next" onclick="plusSlideFasad()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
        <span class="slider-dots_item dots__fasad" ></span>
    </div>
</div>

<div class="product-section1">
    <h1 class="product-section1__head">Раздвижные алюминевые конструкции</h1>
    <p class="product-section__text">
        Подъемно-раздвижные алюминиевые системы становятся очень попклярны  в России,
        благодаря проверенной надежности при эксплуатации в условиях российского климата
        и удобства эксплуатации. Одним из главных достоинств системы является инновационная
        система термоизоляции, обеспеченной высококачественным пластиковым уплотнителем.
    </p>
    <div class="slider" id="patio">
        <div class="item patio">
            <img src="img/patio1.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio2.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio3.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio4.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio5.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio6.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio7.jpg" alt="sliders">
        </div>

        <a class="prev" onclick="minusSlidePatio()">&#10094;</a>
        <a class="next" onclick="plusSlidePatio()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
        <span class="slider-dots_item" ></span>
    </div>
</div>


<div class="product-section1">
    <h1 class="product-section1__head">Алюминевые двери</h1>
    <p class="product-section__text">
        Входные и внутренние двери из алюминиевого профиля лидируют в покупательском рейтинге. Алюминиевые конструкции находятся в доступном ценовом диапазоне, долговечны,
        не теряют геометрии с течением времени. Алюминий – прочный материал, гибкость которого позволяет изготовить двери нестандартной конфигурации, если того требуют архитектурный стиль или форма дверного проема.
        <br><br>
        Благодаря легкости алюминия в сочетании с его практичностью дверные конструкции из этого материала устанавливают всюду – в офисах, торговых центрах, многоквартирных и частных домах.
    </p>
    <div class="slider">
        <div class="item doors">
            <img src="img/doors1.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors2.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors3.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors4.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors5.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors6.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors7.jpg" alt="doors">
        </div>

        <a class="prev" onclick="minusSlideDoors()">&#10094;</a>
        <a class="next" onclick="plusSlideDoors()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
        <span class="slider-dots_item dots__doors" ></span>
    </div>
</div>


<div class="product-section1">
    <h1 class="product-section1__head">Перегородки из алюминия</h1>
    <p class="product-section__text">
        Стационарные перегородки состоят из отдельных модулей, соединенных между собой.
        Вся конструкция крепится к стенам, полу, потолку специальными крепежными элементами.
        В зависимости от материала заполнения получаются прозрачные или глухие стены, отделяющие одно помещение от другого.
        Оснащаются дверями для доступа в полученное помещение.
        <br><br>
        Передвижные перегородки не имеют такой жесткой фиксации, как стационарные. Их можно перемещать и подстраивать под ситуативные нужды.
        К ним относятся раздвижные перегородки (стеклянные, гармошки, передвижные стены), трансформирующие пространство в нужный момент,
        и мобильные перегородки, образующие индивидуальные рабочие места.
    </p>
    <div class="slider">
        <div class="item partitions">
            <img src="img/partitions1.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions2.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions3.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions4.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions5.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions6.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions7.jpg" alt="doors">
        </div>

        <a class="prev" onclick="minusSlidePartitions()">&#10094;</a>
        <a class="next" onclick="plusSlidePartitions()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
        <span class="slider-dots_item dots__partitions" ></span>
    </div>
</div>

<div class="product-section1">
    <h1 class="product-section1__head">Зимние сады</h1>
    <p class="product-section__text">
        Изготовление стеклянного зимнего сада, в Москве, Московской области, и в других регионах, необходимо определиться с помещением, где будет размещаться данная конструкция.
        При остеклении отдельных частей здания (комнаты, балконы, лоджии) используются особые технологии.
        <br><br>
        Для создания и остекления зимних садов используются строительные материалы только самого высокого качества, соответствующие всем нормам безопасности.
    </p>
    <div class="slider">
        <div class="item garden">
            <img src="img/garden1.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden2.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden3.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden4.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden5.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden6.jpg" alt="garden">
        </div>
        <div class="item garden">
            <img src="img/garden7.jpg" alt="garden">
        </div>

        <a class="prev" onclick="minusSlideGarden()">&#10094;</a>
        <a class="next" onclick="plusSlideGarden()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
        <span class="slider-dots_item dots__garden" ></span>
    </div>
</div>
<div class="product-section1">
    <h1 class="product-section1__head">Декорирование алюминия</h1>
    <p class="product-section__text">
        С помощью технологии декорирования поверхность металла может приобрести вид практически любого естественного покрытия: натурального камня или текстильного материала.
        Спектр возможностей декорирования по выбру фактуры поверхности, цвету или виду рисунка поистине безграничен.
        <br><br>
        Ламинирование алюминиевого профиля позволяет добиться такого внешнего вида оконной конструкции, благодаря которому она идеально впишется в интерьер. Чаще всего наши заказчики выбирают имитацию разных пород дерева.
        <br><br>
        Анодирование алюминевого профиля значительно отличается от процессов нанесения гальванического покрытия на металлы (электрохимического осаждения) при которых защитный или декоративный слой
        металла наносится на поверхность металлического изделия, так как является процессом преобразования основного металла, в результате которого меняется внешний вид и характеристики поверхности.
        <br><br>
        Сублимация алюминиевого профиля — это передача желаемого изображения с декоративной плёнки внутрь порошкового покрытия под воздействием высоких температур и давления. Она применяется на деталях, на которых уже имеется слой порошкового напыления.
        В процессе осуществляются оборачивание элемента плёнкой и принудительная откачка воздуха из области между ней и поверхностью. Такой подход обеспечивает максимально надёжное сцепление между ними.
        <br><br>
        Также мы предлагаем алюминиевые панели, которые пользуются большой популярностью благодаря многочисленным достоинствам. Их нередко используют как при внешней, так и при внутренней отделке, в офисных и жилых домах, высоко ценя их красоту и долговечность.
    </p>
    <div class="slider">
        <div class="item decor">
            <img src="img/decor1.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor2.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor3.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor4.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor5.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor6.jpg" alt="decor">
        </div>
        <div class="item decor">
            <img src="img/decor7.jpg" alt="decor">
        </div>

        <a class="prev" onclick="minusSlideDecor()">&#10094;</a>
        <a class="next" onclick="plusSlideDecor()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
        <span class="slider-dots_item dots__decor" ></span>
    </div>
</div>