<div class="product-section1">
    <h1 class="product-section1__head">Алюминевые фасады</h1>
    <p class="product-section__text">
        Подъемно-раздвижные алюминиевые системы становятся очень попклярны  в России,
        благодаря проверенной надежности при эксплуатации в условиях российского климата
        и удобства эксплуатации. Одним из главных достоинств системы является инновационная
        система термоизоляции, обеспеченной высококачественным пластиковым уплотнителем.
    </p>
    <div class="slider">
        <div class="item fasad">
            <img src="img/fasad1.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad2.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad3.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad4.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad5.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad6.jpg" alt="fasad">
        </div>
        <div class="item fasad">
            <img src="img/fasad7.jpg" alt="fasad">
        </div>

        <a class="prev" onclick="minusSlideFasad()">&#10094;</a>
        <a class="next" onclick="plusSlideFasad()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(3)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(4)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(5)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(6)"></span>
        <span class="slider-dots_item dots__fasad" onclick="currentSlide(7)"></span>
    </div>
</div>

<div class="product-section1">
    <h1 class="product-section1__head">Раздвижные алюминевые конструкции</h1>
    <p class="product-section__text">
        Подъемно-раздвижные алюминиевые системы становятся очень попклярны  в России,
        благодаря проверенной надежности при эксплуатации в условиях российского климата
        и удобства эксплуатации. Одним из главных достоинств системы является инновационная
        система термоизоляции, обеспеченной высококачественным пластиковым уплотнителем.
    </p>
    <div class="slider">
        <div class="item patio">
            <img src="img/patio1.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio2.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio3.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio4.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio5.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio6.jpg" alt="sliders">
        </div>
        <div class="item patio">
            <img src="img/patio7.jpg" alt="sliders">
        </div>

        <a class="prev" onclick="minusSlidePatio()">&#10094;</a>
        <a class="next" onclick="plusSlidePatio()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item" onclick="currentSlide(3)"></span>
        <span class="slider-dots_item" onclick="currentSlide(4)"></span>
        <span class="slider-dots_item" onclick="currentSlide(5)"></span>
        <span class="slider-dots_item" onclick="currentSlide(6)"></span>
        <span class="slider-dots_item" onclick="currentSlide(7)"></span>
    </div>
</div>


<div class="product-section1">
    <h1 class="product-section1__head">Алюминевые перегородки</h1>
    <p class="product-section__text">
        Подъемно-раздвижные алюминиевые системы становятся очень попклярны  в России,
        благодаря проверенной надежности при эксплуатации в условиях российского климата
        и удобства эксплуатации. Одним из главных достоинств системы является инновационная
        система термоизоляции, обеспеченной высококачественным пластиковым уплотнителем.
    </p>
    <div class="slider">
        <div class="item doors">
            <img src="img/doors1.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors2.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors3.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors4.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors5.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors6.jpg" alt="doors">
        </div>
        <div class="item doors">
            <img src="img/doors7.jpg" alt="doors">
        </div>

        <a class="prev" onclick="minusSlideDoors()">&#10094;</a>
        <a class="next" onclick="plusSlideDoors()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__doors" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(3)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(4)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(5)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(6)"></span>
        <span class="slider-dots_item dots__doors" onclick="currentSlide(7)"></span>
    </div>
</div>


<div class="product-section1">
    <h1 class="product-section1__head">Алюминевые двери</h1>
    <p class="product-section__text">
        Подъемно-раздвижные алюминиевые системы становятся очень попклярны  в России,
        благодаря проверенной надежности при эксплуатации в условиях российского климата
        и удобства эксплуатации. Одним из главных достоинств системы является инновационная
        система термоизоляции, обеспеченной высококачественным пластиковым уплотнителем.
    </p>
    <div class="slider">
        <div class="item partitions">
            <img src="img/partitions1.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions2.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions3.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions4.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions5.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions6.jpg" alt="doors">
        </div>
        <div class="item partitions">
            <img src="img/partitions7.jpg" alt="doors">
        </div>

        <a class="prev" onclick="minusSlidePartitions()">&#10094;</a>
        <a class="next" onclick="plusSlidePartitions()">&#10095;</a>
    </div>

    <div class="slider-dots">
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(3)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(4)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(5)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(6)"></span>
        <span class="slider-dots_item dots__partitions" onclick="currentSlide(7)"></span>
    </div>
</div>