<div class="contacts">
    <div class="contacts__form-container">
        <div class="contacts__form-block">
            <h3 class="contacts__form-logo">Ваша заявка успешно отправлена!</h3>
            <h3 class="contacts__form-logo">Ожидайте ответа оператора.</h3>
        </div>
    </div>
    <div class="contacts__container-maps">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8c8ba6aec6ddad67f4391c9631b73e5dab9b3dd5a63ebc6512e5d19ffa8997b&amp;width=100%25&amp;height=458&amp;lang=ru_RU&amp;scroll=true">
        </script>
    </div>
    <div class="contacts__status">
        <div class="contacts__status-block">
            <h2 class="contacts__status-block-logo">Офис продаж "Серпуховской"</h2>
            <span class="contacts__status-block-status">Режим работы</span>
            <span class="contacts__status-block-date">Понедельник - Суббота c 10:00 до 17:00 </span>
            <span class="contacts__status-block-phone">+7(915)100-09-08</span>
            <a class="contacts__status-block-mail" href = "mailto: okna-pc@mail.ru">okna-pc@mail.ru</a>
        </div>
        <div class="contacts__status-block">
            <h2 class="contacts__status-block-logo">Офис продаж "Щусева"</h2>
            <span class="contacts__status-block-status">Режим Работы</span>
            <span class="contacts__status-block-date">Понедельник - Суббота c 10:00 до 17:00 </span>
            <span class="contacts__status-block-phone">+7(495)661-94-49</span>
            <a class="contacts__status-block-mail" href = "mailto: okna-pc@mail.ru">okna-pc@mail.ru</a>
        </div>
    </div>
</div>