.gallery {
    position: relative;
}

.cards {
    padding: 0 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
}

.card {
    height: 65vh;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    background-color: gray;
    transition: all 0.5s 0.1s;
    box-sizing: border-box;
}

.card:hover {
    background-color: #aaaaaa;
    padding: 1vh;
}

.card__slider {
    position: absolute;
    width: 100vw;
    height: 150%;
    top: -34%;
    left: 0;
    z-index: 2;
    display: none;
    background-color: black;
}

.card__slider-img {
    width: 50vw;
    height: 80vh;
    display: block;
    border: 2px solid coral;
    box-shadow: 0 0 40px coral;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    margin-left: 25%;
    margin-top: 5%;
}

.card__left-arrow {
    z-index: 3;
    position: fixed;
    margin-top: 45vh;
    margin-left: 10vw;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    box-shadow: 0 0 20px coral;
    transition: all 0.5s 0.1s;
}

.card__left-arrow:hover {
    transform: scale(1.2, 1.2);
    background-color: coral;
    opacity: 1;
}

.card__close {
    z-index: 3;
    position: fixed;
    margin-top: 5vh;
    margin-left: 95vw;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    opacity: 0.3;
    box-shadow: 0 0 20px coral;
    border-radius: 50%;
    transition: all 0.5s 0.1s;
}

.card__close:hover {
    transform: scale(1.2, 1.2);
    background-color: coral;
    opacity: 1;
}

.card__right-arrow {
    z-index: 3;
    position: fixed;
    margin-top: 45vh;
    margin-left: 85vw;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    box-shadow: 0 0 20px coral;
    transition: all 0.5s 0.1s;
}

.card__right-arrow:hover {
    transform: scale(1.2, 1.2);
    background-color: coral;
    opacity: 1;
}

.card__img {
    width: calc(100% - 2vh);
    min-height: 50%;
    height: 50vh;
   }

.card__text-block__header {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.card__text-block__text {
    font-size: 2vh;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 24px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
    .card__slider-img {
        margin-top: 119%;
        width: 90vw;
        margin-left: 6vw;
        height: 60vh;
    }

    .card__slider {
        left: -16px;
    }

    .card__left-arrow {
        margin-top: 205%;
    }

    .card__right-arrow {
        margin-top: 205%;
        margin-left: 75vw;
    }

    .card__close {
        margin-top: 105%;
        margin-left: 46vw;
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: calc(100% - 24px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
    .card__slider-img {
        margin-top: 75vh;
        width: 90vw;
        margin-left: 29px;
        height: 60vh;
    }

    .card__slider {
        left: -16px;
    }

    .card__left-arrow {
        margin-top: 310%;
    }

    .card__right-arrow {
        margin-top: 310%;
        margin-left: 75vw;
    }

    .card__close {
        margin-top: 140%;
        margin-left: 46vw;
        width: 60px;
        height: 60px;
    }
}