/* **********************SLIDER************ */
.slider-m {
    width: 100vw;
}

.slide{
    width: 100vw;
    height: 85vh;
}

.slide__container {
    position: relative;
    width: 100vw;
    height: 60%;
}

.left-arrow {
    position: absolute;
    z-index: 10;
    width: 5rem;
    height: 5rem;
    left: 3%;
    top: 40%;
    cursor: pointer;
    background-color: dodgerblue;
    opacity: 0.3;
    border-radius: 50%;
    transition: all 0.5s 0.1s;
}

.left-arrow:hover {
    transform: scale(1.5, 1.5);
    background-color: lime;
}

.right-arrow:hover {
    transform: scale(1.5, 1.5);
    background-color: lime;
}

.right-arrow {
    position: absolute;
    z-index: 10;
    right: 3%;
    top: 40%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    background-color: dodgerblue;
    opacity: 0.3;
    border-radius: 50%;
}

@media screen and (max-width: 400px) {

    .slide {
        height: 36vh;

    }

    .left-arrow, .right-arrow {
        width: 2rem;
        height: 2rem;
        background-color: dodgerblue;
        opacity: 0.3;
        border-radius: 50%;
    }
    .left-arrow:hover {
        transform: scale(1.2, 1.2);
        background-color: lime;
    }

    .right-arrow:hover {
        transform: scale(1.2, 1.2);
        background-color: lime;
    }


}
